# This is a standard .gitignore file, used to exclude certain files
# from a 'git status' command, or similar

# Ignore these filename patterns
*.pyc
*.nexe
*.o
*.nmf
*.gz
*.cmd

# Ignore all directories than contain these names
scons-out/
third_party/
toolchain/

# Ignore these particular directories (relative to src directory)
/build_tools/packages/

