# This is a standard .gitignore file, used to exclude certain files
# from a 'git status' command, or similar

# Ignore these filename patterns
*.cmd
*.gz
*.nexe
*.o
*.pyc
*.pyo
*.suo

# Ignore all hidden files
.*

# Ignore all directories than contain these names
scons-out/
third_party/
toolchain/

# Ignore these particular directories (relative to src directory)
/build_tools/NSIS/
/build_tools/packages/
/build_tools/sdk_install_name.nsh
/build_tools/sdk_section.nsh
/build_tools/tests/apply_patch_test_archive/
/build_tools/toolchain_archives/
/chrome_binaries/
/debugger/NativeClientVSX/
/debugger/nacl-gdb_server/x64/
/experimental/webgtt/tests/nacltest/*.cc
/site_scons/
/staging/
/out
StyleCop.Cache

/visual_studio/NativeClientVSAddIn/NaCl.Build.CPPTasks/obj/
/visual_studio/NativeClientVSAddIn/NativeClientVSAddIn.vsmdi
/visual_studio/NativeClientVSAddIn/NativeClientVSAddIn/obj/
/visual_studio/NativeClientVSAddIn/NativeClientVSAddIn/bin/
/visual_studio/NativeClientVSAddIn/NativeClientVSAddIn/NativeClientVSAddIn.xml
/visual_studio/NativeClientVSAddIn/UnitTests/obj/
/visual_studio/NativeClientVSAddIn/TestResults/

/visual_studio/NativeClientVSAddIn/InstallerResources/examples/*/ipch
/visual_studio/NativeClientVSAddIn/InstallerResources/examples/*/*.sdf
/visual_studio/NativeClientVSAddIn/InstallerResources/examples/*/*.opensdf
/visual_studio/NativeClientVSAddIn/InstallerResources/examples/*/Debug
/visual_studio/NativeClientVSAddIn/InstallerResources/examples/*/Release
/visual_studio/NativeClientVSAddIn/InstallerResources/examples/*/*/Debug
/visual_studio/NativeClientVSAddIn/InstallerResources/examples/*/*/Release
/visual_studio/NativeClientVSAddIn/InstallerResources/examples/*/*/NaCl64
/visual_studio/NativeClientVSAddIn/InstallerResources/examples/*/*/PNaCl
/visual_studio/NativeClientVSAddIn/InstallerResources/examples/*/*/NaCl32
/visual_studio/NativeClientVSAddIn/InstallerResources/examples/*/*/NaClARM
/visual_studio/NativeClientVSAddIn/InstallerResources/examples/*/*/chrome_data
/visual_studio/NativeClientVSAddIn/InstallerResources/examples/*/*/newlib
/visual_studio/NativeClientVSAddIn/InstallerResources/examples/*/*/glibc
/visual_studio/NativeClientVSAddIn/InstallerResources/examples/*/*/win
/visual_studio/NativeClientVSAddIn/InstallerResources/examples/*/*/*.user
