# This is a standard .gitignore file, used to exclude certain files
# from a 'git status' command, or similar

# Ignore these filename patterns
*.cmd
*.gz
*.nexe
*.nmf
*.o
*.pyc
*.pyo


# Ignore all hidden files
.*

# Ignore all directories than contain these names
scons-out/
third_party/
toolchain/

# Ignore these particular directories (relative to src directory)
/build_tools/packages/
/site_scons/
