/* Copyright 2011 The Native Client Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/**
 * The information panel display.  Positioned at the right edge of the app
 * with a fixed width of 250 pixels.  Auto-adjusts its height to fill its
 * parent container.
 */
#info_panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: black;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: solid;
  border-color: black;
  border-width: 2px;
  background-image: url('../images/DialBackground.png');
  background-repeat: no-repeat;
  background-position: left top;
}

#info_panel a,p,h1,h2,h3 {
  margin-left: 16px;
  color: #949596;
}

#sim_mode_select {
  position: absolute;
  top: 281px;
  left: 58px;
}

#flock_size_slider {
  position: absolute;
  top: 328px;
  left: 38px;
}

.info-notice {
  font-size: 80%;
  margin-left: 32px;
  margin-right: 32px;
  line-height: 1em;
}

