/* Copyright 2011 The Native Client Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/**
 * Styling for a progress bar.
 */

/**
 * Center the progress bar in its container.
 */
.progress {
  position: absolute;
  margin-top: -32px;
  margin-left: -80px;
  margin-bottom: 0px;
  top: 50%;
  left: 50%;
  width: 320px;
}

/**
 * Apply any horizontal centering to <P> elements within the progress bar.
 */
.progress p {
  margin-left: inherit;
  margin-right: inherit;
  width: inherit;
}

/**
 * The status text.  This is title text that goes above the progress bar.
 */
.progressstatus {
  color: #202020;
  margin-bottom: 0;
}

/**
 * Text that indicates the progress, usually displayed as a number or a
 * percent (as in, "53% complete).
 */
.progresstext {
  color: #999;
}

/**
 * The progress bar itself.  This bar contains the track (see below).
 */
.progressbar {
  border: 1px solid #999;
  margin-left: inherit;
  margin-right: inherit;
  padding: 1px;
  width: inherit;
}

/**
 * The progress track.  This changes size to indicate progress.  Change the
 * size by changing the style.width value.
 */
.progresstrack {
  background: #CCC;
  width: 120px;
  height: 5px;
}

/**
 * "Tall" versions of the progress bar.
 */
.tall .progresstrack {
  height: 8px;
}

