/* Copyright 2011 The Native Client Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/**
 * Styling for a slider bar.
 */

.slider {
  position: relative;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.slider .slider-ruler {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  outline: 0;
}

.slider-thumb {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: col-resize;
  -webkit-transition: left 0.218s;
  -moz-transition: left 0.218s;
  -o-transition: left 0.218s;
  transition: left 0.218s;
  -webkit-user-select: none;
  -moz-user-select: none;
}

