/* Copyright 2011 The Native Client Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/**
 * Classes used to support rendering of the stamp editor panel.
 */
.panel {
  position: absolute;
  background: white;
  border: 1px solid black;
  font-size: inherit;
  /* A "high" z-index: the panel should float above everything else. */
  z-index: 100;
}

/**
 * Ensure that images within a table do not have suprious spacing.
 */
td img {
  display: block;
}

.stamp_editor_button {
  background-color: lightgray;
  border-style: inset;
  border-width: 1px;
}

#stamp_editor_outer_container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#title_text {
  text-align: center;
  width: 120px;
}

#ok_cancel_buttons {
  float: right;
  font-size: inherit;
  text-align: right;
}

#stamp_editor_legend {
  font-size: inherit;
  background-color: lightgray;
  margin-top: 8px;
}
